---
layout: body
---

{% assign store_page = '/store' | get_page %}
<main class="content{% assign page_css_class_is_not_empty = store_page.page_css_class | is_not_empty %}{% if page_css_class_is_not_empty %} {{ store_page.page_css_class }}{% endif %}">
    {% for section in store_page.sections %}
        {% if section.type == 'store_section' %}
            
            {% assign component = section.type | append: ".html" %}
            {% include {{ component }} section=section page=page category_url=page.url site=site %}
        {% else %}
            
            {% assign component = section.type | append: ".html" %}
            {% include {{ component }} section=section page=page site=site %}
        {% endif %}
    {% endfor %}
</main>
