{% assign page = include.page %}
{% assign section = include.section %}
{% assign category_url = include.category_url %}
<section class="content__row" data-id="{{ section.section_id }}">
    <div class="content__row content__row--direction-row store__head">
        <h1 class="store__title">All Products</h1>
    </div>

    <div class="content__row store__container">
        <nav class="store__nav">
            
            {% include nav_categories.html page=page site=site %}
        </nav>
        <section class="store__products">
            {% assign product_pages = '/products' | get_pages | sort: 'order' %}
            
            {% include product_grid.html product_pages=product_pages category_url=category_url cssClass='store__product-grid' site=site %}
        </section>
    </div>
</section>
