{% assign section = include.section %}

<section class="content__row bulletpoints__section" data-id="{{ section.section_id }}">
{% for bulletpoint in section.bulletpoints %}
  <section class="content__row bulletpoint__section">
    
    {% include picture.html image=bulletpoint.image alt=bulletpoint.title cssClass='bulletpoint__section-image' %}
    <div class="bulletpoint__section-content-container">
      <h2 class="bulletpoint__section-title">{{ bulletpoint.title }}</h2>
      <div class="bulletpoint__section-content">
        {{ bulletpoint.description | markdownify }}
      </div>
    </div>
  </section>
{% endfor %}
</section>
